@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Todhri&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primery-color: white;
    --base-color: #4C585B;
    --second-color: #0a0a0a;
    --border-color: rgb(113, 115, 119, 0.5);
    --shadow-color: rgb(225, 225, 225, 0.1);
}

.lightmode {
    --primery-color: black;
    --base-color: rgb(21, 197, 174);
    --second-color: #f4f4f4; 
    --border-color: rgb(70, 151, 140);
    --shadow-color: rgba(13, 165, 145, 0.2);
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--base-color), var(--second-color));
}

.calculator {
    background-color: transparent;
    border: 1px solid var(--base-color);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 3px 15px var(--border-color);
}

#screen {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 25px;
    color: var(--primery-color);
    margin-top: 5px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

#display-function {
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;

}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3%;
}

.buttons button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-family: "Noto Serif Todhri", serif;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--primery-color);
    cursor: pointer;
    box-shadow: inset -2px -2px 5px var(--shadow-color),
        inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.buttons button:hover {
    transform: scale(1.1);
    box-shadow: inset -4px -4px 10px var(--shadow-color), 
                inset 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.buttons button:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 5px var(--shadow-color),
                inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}

#power {
    vertical-align: super;
    font-size: 0.8em;
}

.material-icons-outlined {
    color: var(--primery-color);
}




#switch-mode {
    background-color: transparent;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
#switch-mode span {
    font-size: 30px;
    transition: opacity 0.3s ease-in-out;
}

#switch-mode span:first-child {
    display: none;
}

.lightmode #switch-mode span:last-child {
    display: none;
}

.lightmode #switch-mode span:first-child {
    display: block;
}

#switch-mode:hover {
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .buttons {
        grid-template-columns: repeat(4, 1fr);
        gap: 5%;
    }

    .buttons button {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
.calculator{
    border:none;
}
    #screen {
        font-size: 20px;
    }
}
